<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Internet Course: <%= title %></p>
    <p>Code examples:</p>
  <ol>
    <li><a href="/ajax-simple.html">Simple ajax call</a></li>
    <li><a href="/ajax-simple-2.html">Simple ajax call - async writing style </a></li>
    <li><a href="/ajax-post.html">Ajax with post request and headers</a></li>
    <li><a href="/ajax-metadata.html">Ajax response metadata</a></li>
    <li><a href="/chained-promises.html">Ajax with chained promises</a></li>
  </ol>
  </body>
</html>
